include ../includes/header
div#main-container
	div#main.wrapper.clearfix
		div#gallery
			div.galleryitem
				a.fancybox-button(rel="tops", href="/fancybox/demo/2_b.jpg", title="great for sniffing")
					img.gallerypic(src="/fancybox/demo/2_s.jpg")
				p.desc top 2
				p.price $12.99
			div.galleryitem
				a.fancybox-button(rel="tops", href="/fancybox/demo/3_b.jpg", title="blue shirt")
					img.gallerypic(src="/fancybox/demo/3_s.jpg")
				p.desc top 2
				p.price $12.99
			div.galleryitem
				a.fancybox-button(rel="tops", href="/fancybox/demo/4_b.jpg", title="red shirt")
					img.gallerypic(src="/fancybox/demo/4_s.jpg")
				p.desc top 2
				p.price $12.99
			div.galleryitem
				a.fancybox-button(rel="tops", href="/fancybox/demo/5_b.jpg", title="blue shirt")
					img.gallerypic(src="/fancybox/demo/5_s.jpg")
				p.desc top 2
				p.price $12.99
			div.galleryitem
				a.fancybox-button(rel="tops", href="/fancybox/demo/1_b.jpg", title="red shirt")
					img.gallerypic(src="/fancybox/demo/1_b.jpg")
				p.desc top 2
				p.price $12.99
			div.galleryitem
				a.fancybox-button(rel="tops", href="/fancybox/demo/1_b.jpg", title="blue shirt")
					img.gallerypic(src="/fancybox/demo/1_b.jpg")
				p.desc top 2
				p.price $12.99
			div.galleryitem
				a.fancybox-button(rel="tops", href="/fancybox/demo/1_b.jpg", title="red shirt")
					img.gallerypic(src="/fancybox/demo/1_b.jpg")
				p.desc top 2
				p.price $12.99
			div.galleryitem
				a.fancybox-button(rel="tops", href="/fancybox/demo/1_b.jpg", title="blue shirt")
					img.gallerypic(src="/fancybox/demo/1_b.jpg")
				p.desc top 2
				p.price $12.99
		div#sidedesc(style="display:normal;")
			h2 TOPS
			p Simple and light tops.  Many of these are ideal for when you're sipping a margarita on a warm sunny day.
include ../includes/footer