div#header-container
	header.wrapper.clearfix
		h1#title
			a(href="/") lanka edited
		nav
			ul
				li
					a(href="/dresses") dresses
				li
					a(href="/tops") tops
				li
					a(href="/accessories") accessories

//- | <div id="header-container">
//- |	<header class="wrapper clearfix">
//- |		<h1 id="title">h1#title</h1>
//- |		<nav>
//- |			<ul>
//- |				<li><a href="#">nav ul li a</a></li>
//- |				<li><a href="#">nav ul li a</a></li>
//- |				<li><a href="#">nav ul li a</a></li>
//- |			</ul>
//- |		</nav>
//- |	</header>
//- | </div>